/*@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');*/

.form-box {
    height: 95%;
    width: 100%;
    margin: auto;
    padding: 2mm;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Helvetica', Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: #555;
}

.main-table {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
}

.main-table > tr:last-child {
    height: 150px;
}

.main-table td.vertically-top {
    vertical-align: top;
}

.first-column {
    width: 65%;
}

h2#order-number {
    padding-bottom: 5px;
}

.field-wrap {
    width: 100%;
    margin-bottom: 5px;
    /*display: -webkit-box;      !* OLD - iOS 6-, Safari 3.1-6 *!*/
    /*display: -moz-box;         !* OLD - Firefox 19- (buggy but mostly works) *!*/
    /*display: -ms-flexbox;      !* TWEENER - IE 10 *!*/
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;

    /*display: block;*/
    justify-content: left;
}

.field-wrap > input {
    font-family: "Helvetica", Helvetica, sans-serif;
    font-size: 16px;
    outline: 0;
    /*border-width: 0 0 1px;*/
    /*border-color: #333333;*/
    /*-webkit-box-flex: 1;*/
    /*-webkit-box-flex: 1;      !* OLD - iOS 6-, Safari 3.1-6 *!*/
    /*-moz-box-flex: 1;         !* OLD - Firefox 19- *!*/
    -webkit-flex: 1;          /* Chrome */
    /*-ms-flex: 1;              !* IE 10 *!*/
    /*flex: 1;                  !* NEW, Spec - Opera 12.1, Firefox 20+ *!*/
    /*display: inline-block;*/
    /*box-sizing: border-box;*/
    /*margin-right: 1px;*/
}

.left-options {
    margin-top: 15px;
}

.left-options .option {
    margin-bottom: 5px;
}

.address-first {
    margin-bottom: 10px;
}

.address-label {
    margin-right: 10px;
}

.label {
    display: inline-flex;
    font-size: large;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-style: normal;
    margin-left: 5px;
    margin-right: 10px;
}

#logo-cell {
    height: 0;
}

.logo-container {
    margin-left: 15px;
    margin-right: 15px;
    display: -webkit-box;
    display: flex;
    justify-content: center;
}

.logo-container > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.logo-container > div:first-child {
    border: 0 #D84F47 solid;
    width: 10%;
    border-left-width: 1px;
    border-top-width: 1px;
}

.logo-container > div:last-child {
    margin-right: 0;
    border: 0 #D84F47 solid;
    width: 10%;
    border-right-width: 1px;
    border-bottom-width: 1px;
}

.logo-content {
    display: inline-block;
    width: 140px;
    height: 140px;
}

.logo-content img {
    width: 140px;
    height: 140px;
}

.contacts {
    margin-left: 3px;
}

.contacts div {
    align-items: center;
    display: flex;
    margin-top: 5px;
}

.contacts .icon {
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    text-align: center;
}

.contacts .icon img {
    vertical-align: middle;
    width: 24px;
    height: 24px;
    max-height: 24px;
}

.contacts .text {
    display: inline-block;
    margin-left: 5px;
    line-height: 1.2;
    font-size: 10px;
    font-weight: lighter;
}

.right-options {
    border: 0 #D84F47 solid;
    border-left-width: 1px;
    vertical-align: top;
    margin-left: 15px;
    padding-left: 10px;
    padding-top: 5px;
}

.right-options div.selects {
    height: 50px;
    vertical-align: top;
}

.right-options .label {
    margin-left: 0;
}

.right-options .option {
    float: left;
    width: 50%;
    margin-bottom: 5px;
}

.scanner-options {
    vertical-align: top;
    width: 90%;
}

.scanner-options div.selects {
    height: 50px;
    vertical-align: top;
}

.scanner-options .option {
    float: left;
    width: 35%;
    margin-bottom: 5px;
}
.scanner-options .option:last-child {
    width: 55%;
}

.scanner-type-options {
    vertical-align: top;
    width: 90%;
}

.scanner-type-options div.selects {
    height: 30px;
    vertical-align: top;
}

.scanner-type-options .option {
    float: left;
    width: 35%;
    margin-bottom: 5px;
}

.scan-size-options {
    vertical-align: top;
}

.scan-size-options div.selects {
    height: 50px;
    vertical-align: top;
}

.scan-size-options .option {
    float: left;
    width: 30%;
}

.scan-size-options .option .description {
    padding-top: 5px;
    font-size: 12px;
}

/*Checkboxes of options*/
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 27px;
    margin-bottom: 2px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px #333333 solid;
    font-style: normal;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
    left: 4px;
    top: 2px;
    width: 5px;
    height: 8px;
    border: solid #333333;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

div.horizontal-line {
    width: 20%;
    border: 0 #D84F47 solid;
    border-bottom-width: 1px;
    margin: 3px auto 3px auto;
}

#option-frame, #option-package, #option-express{
    height: 25px;
}

#option-package .option:last-child label{
    padding-left: 21px;
    font-size: 11px;
}

#option-express .option:last-child {
    width: 100%;
}

div.vertical-line {
    z-index: -1;
    position: absolute;
    left: 67.9%;
    height: 150px;
    border: 0 #D84F47 solid;
    border-left-width: 1px;
    margin-top: -5px;
}

.transit-company {
    height: 30px;
    margin-top: 10px;
}

.transit-company .option {
    width: 30%;
    float: left;
}

.virtual-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

.virtual-row {
    display: table-row;
}

.virtual-table-heading {
    background-color: #EEE;
    display: table-header-group;
}

.virtual-cell, .virtual-table-head {
    border: 1px solid #999999;
    text-align: center;
    display: table-cell;
    width: 20%;
    height: 12.5%;
}

.virtual-table-body {
    display: table-row-group;
}

.preferences {
    display: block;
    width: 100%;
    height: 100%;
}

.preferences .label {
    font-size: 14px;
}

.preferences div.preferences-container {
    width: 96%;
    height: 65%;
    border: 1px #999999 dashed;
    margin: auto;
    padding: 8px;
}

.preferences span {
    font-family: "Helvetica", Helvetica, sans-serif;
    font-size: 16px;
}

.empty {
    height: 200px;
    margin-left: 15px;
    margin-right: 15px;
    display: -webkit-box;
    display: flex;
    justify-content: center;
}

.empty > div {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

.empty > div:first-child {
    width: 10%;
    border: 0 #D84F47 solid;
    border-left-width: 1px;
    border-bottom-width: 1px;
}

.empty > div:last-child {
    width: 10%;
    border: 0 #D84F47 solid;
    border-right-width: 1px;
    border-top-width: 1px;
}

.empty #container-for-qr {
    width: 80%;
}

#qr-code {
    padding-top: 20px;
}